#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    padding-left: 20px;
    margin-bottom: 0;
}

.site-header {
    background: #f2ebe6;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.brand img {
  width: 5em;
  height: 5em;
  object-fit: contain;
  position: relative;
  top:0;
  left:0;
  margin: -18px;
}

.brand-text {
  font-weight: 500;
  font-size: 1em;
  color: black;
}

@media (max-width: 600px) {
  #main-header {
    padding-left: 10px;
  }

  .brand img {
    width: 3.5em;
    height: 3.5em;
  }

  .brand-text {
    font-size: 0.85em;
  }
}