.breadcrumb {
  background-color: var(--beige);
  border-top: 1px solid rgba(59, 47, 42, 0.2);
  width: 100%;
  padding: 20px 0;
  font-size: 0.9em;
  color: #999;
  margin: 0;
}

.breadcrumb .wrap {
  padding: 0 18px;
}

.breadcrumb a {
  color: #999;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}